<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- (optional) your own stylesheet -->
  <link rel="stylesheet" href="/styles/main.css">
    <title>home</title>
</head>
<body class="box">
    <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Start summarizing the books you've read, editing, tracking, writing down points for memory, and rating them.📖📕</h1>
    <p class="lead"></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<!-- Bootstrap Bundle (includes Popper) -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- (optional) your own scripts <script src="/js/main.js"></script>-->
</body>
</html>