<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- (optional) your own stylesheet -->
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <%- body %>

  <!-- Bootstrap Bundle (includes Popper) -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- (optional) your own scripts <script src="/js/main.js"></script>-->
  
</body>
</html>
